.underline-anim-bread-crumb {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-anim-bread-crumb::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px; /* espacio debajo del texto */
  background-color: #0173B9; /* color del underline */
  transition: width 0.3s ease;
}

.underline-anim-bread-crumb:hover::after {
  width: 100%;
}
